<template>
  <div class="flex items-center">
    <div class="text-xl font-inter-medium">
      Employee Detail
    </div>
    <div class="text-center flex-1">
      2
    </div>
    <div class="flex space-x-4">
      <div
        v-for="menu in menus"
        :key="menu.label"
        class="pill pill-normal"
        :class="{ 'bg-black': menu.test() }"
      >
        <nuxt-link
          :to="menu.to"
          :class="[{ 'link-white': menu.test() }, 'link-black']"
        >
          {{ menu.label }}
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menus: [
        {
          label: 'Personal',
          to: 'personal',
          test: () => /personal/.test(this.$route.path),
        },
        {
          label: 'Employment',
          to: 'employment',
          test: () => /employment/.test(this.$route.path),
        },
      ],
    };
  },
};
</script>
