<template>
  <div class="flex flex-col space-y-8">
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Email
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.email || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div class="relative">
          Phone
          <div class="absolute top-0 right-0">
            <a title="Edit" @click="showModal">
              <client-only>
                <unicon
                  class="icon-hover"
                  name="edit-alt"
                  width="16"
                  height="16"
                />
              </client-only>
            </a>
          </div>
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.phone || '...' }}
        </div>
      </div>
    </div>

    <a-modal
      v-model="visible"
      :mask-closable="false"
      @ok="handleOk"
    >
      <template slot="title">
        <div class="text-xl font-inter-medium">
          Edit Contacts
        </div>
      </template>
      <template slot="closeIcon">
        <client-only>
          <unicon
            class="icon-hover"
            name="times"
          />
        </client-only>
      </template>
      <template slot="footer">
        <div class="flex space-x-8 items-center justify-end">
          <a key="back" class="link-black" @click="handleCancel">
            Cancel
          </a>
          <a-button
            key="submit"
            type="primary"
            size="large"
            @click="handleOk"
          >
            Update
          </a-button>
        </div>
      </template>
      <a-form-model
        ref="form"
        :model="form"
        :rules="rules"
        layout="vertical"
      >
        <a-form-model-item label="Email" prop="email">
          <a-input v-model="form.email" size="large" />
        </a-form-model-item>
        <a-form-model-item label="Phone">
          <a-input v-model="form.phone" size="large" />
        </a-form-model-item>
      </a-form-model>
    </a-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      employee: {
        email: 'janedoe@gmail.com',
        phone: '0821-1111-2222',
      },
      form: {
        email: 'janedoe@gmail.com',
        phone: '0821-1111-2222',
      },
      rules: {
        email: [
          { type: 'email', message: 'Invalid email format', trigger: 'blur' },
        ],
      },
    };
  },
  methods: {
    showModal() {
      this.visible = true;
    },
    handleOk() {
      this.visible = false;
    },
    handleCancel() {
      this.visible = false;
    },
  },
};
</script>
