<template>
  <div class="flex flex-col space-y-4">
    <EmployeeDetailHeader />
    <div>
      <a-tabs default-active-key="1" :animated="false">
        <a-tab-pane key="1" tab="Profile">
          <EmployeeProfileTab />
        </a-tab-pane>
        <a-tab-pane key="2" tab="Address" force-render>
          <EmployeeAddressTab />
        </a-tab-pane>
        <a-tab-pane key="3" tab="Contacts">
          <EmployeeContactsTab />
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>
