<template>
  <div class="flex flex-col space-y-4">
    <EmployeeDetailHeader />
    <div>
      <a-tabs default-active-key="1" :animated="false">
        <a-tab-pane key="1" tab="Job">
          Job Content
        </a-tab-pane>
        <a-tab-pane key="2" tab="Tab 2" force-render>
          Content of Tab Pane 2
        </a-tab-pane>
        <a-tab-pane key="3" tab="Tab 3">
          Content of Tab Pane 3
        </a-tab-pane>
      </a-tabs>
    </div>
  </div>
</template>
