<template>
  <div class="flex flex-col space-y-8">
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Perumahan
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.perumahan || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div class="relative">
          Jalan
          <div class="absolute top-0 right-0">
            <a title="Edit" @click="showModal">
              <client-only>
                <unicon
                  class="icon-hover"
                  name="edit-alt"
                  width="16"
                  height="16"
                />
              </client-only>
            </a>
          </div>
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.jalan || '...' }}
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          RT
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.rt || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div>
          RW
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.rw || '...' }}
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Kelurahan
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.kelurahan || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div>
          Kecamatan
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.kecamatan || '...' }}
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Kota
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.kota || '...' }}
        </div>
      </div>
    </div>

    <a-modal
      v-model="visible"
      :mask-closable="false"
      @ok="handleOk"
    >
      <template slot="title">
        <div class="text-xl font-inter-medium">
          Edit Address
        </div>
      </template>
      <template slot="closeIcon">
        <client-only>
          <unicon
            class="icon-hover"
            name="times"
          />
        </client-only>
      </template>
      <template slot="footer">
        <div class="flex space-x-8 items-center justify-end">
          <a key="back" class="link-black" @click="handleCancel">
            Cancel
          </a>
          <a-button
            key="submit"
            type="primary"
            size="large"
            @click="handleOk"
          >
            Update
          </a-button>
        </div>
      </template>
      <a-form-model layout="vertical" :model="form">
        <a-form-model-item label="Perumahan">
          <a-input v-model="form.perumahan" size="large" />
        </a-form-model-item>
        <a-form-model-item label="Jalan">
          <a-input v-model="form.jalan" size="large" />
        </a-form-model-item>
        <div class="flex space-x-8">
          <a-form-model-item label="RT">
            <a-input v-model="form.rt" size="large" />
          </a-form-model-item>
          <a-form-model-item label="RW">
            <a-input v-model="form.rw" size="large" />
          </a-form-model-item>
        </div>
        <div class="flex space-x-8">
          <a-form-model-item label="Kelurahan">
            <a-input v-model="form.kelurahan" size="large" />
          </a-form-model-item>
          <a-form-model-item label="Kecamatan">
            <a-input v-model="form.kecamatan" size="large" />
          </a-form-model-item>
        </div>
        <a-form-model-item label="Kota">
          <a-input v-model="form.kota" size="large" />
        </a-form-model-item>
      </a-form-model>
    </a-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      employee: {
        perumahan: 'Bukit Asri Blok A No. 6',
        jalan: '',
        rt: '001',
        rw: '002',
        kelurahan: 'Batu Besar',
        kecamatan: 'Nongsa',
        kota: 'Batam',
      },
      form: {
        perumahan: 'Bukit Asri Blok A No. 6',
        jalan: '',
        rt: '001',
        rw: '002',
        kelurahan: 'Batu Besar',
        kecamatan: 'Nongsa',
        kota: 'Batam',
      },
    };
  },
  methods: {
    showModal() {
      this.visible = true;
    },
    handleOk() {
      this.visible = false;
    },
    handleCancel() {
      this.visible = false;
    },
  },
};
</script>
