<template>
  <div class="flex flex-col space-y-8">
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Name
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.name || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div class="relative">
          Gender
          <div class="absolute top-0 right-0">
            <a title="Edit" @click="showModal">
              <client-only>
                <unicon
                  class="icon-hover"
                  name="edit-alt"
                  width="16"
                  height="16"
                />
              </client-only>
            </a>
          </div>
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.gender || '...' }}
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Place of Birth
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.placeOfBirth || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div>
          Date of Birth
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.dateOfBirth || '...' }}
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <div class="flex-1 flex-col space-y-2">
        <div>
          Religion
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.religion || '...' }}
        </div>
      </div>
      <div class="flex-1 flex-col space-y-2">
        <div>
          Marital Status
        </div>
        <div class="text-lg font-inter-medium">
          {{ employee.maritalStatus || '...' }}
        </div>
      </div>
    </div>

    <a-modal
      v-model="visible"
      :mask-closable="false"
      @ok="handleOk"
    >
      <template slot="title">
        <div class="text-xl font-inter-medium">
          Edit Profile
        </div>
      </template>
      <template slot="closeIcon">
        <client-only>
          <unicon
            class="icon-hover"
            name="times"
          />
        </client-only>
      </template>
      <template slot="footer">
        <div class="flex space-x-8 items-center justify-end">
          <a key="back" class="link-black" @click="handleCancel">
            Cancel
          </a>
          <a-button
            key="submit"
            type="primary"
            size="large"
            @click="handleOk"
          >
            Update
          </a-button>
        </div>
      </template>
      <a-form-model layout="vertical" :model="form">
        <a-form-model-item label="Name">
          <a-input v-model="form.name" size="large" />
        </a-form-model-item>
        <div class="flex flex-row space-x-8">
          <a-form-model-item label="Place of Birth">
            <a-input v-model="form.placeOfBirth" size="large" />
          </a-form-model-item>
          <a-form-model-item label="Date of Birth">
            <a-date-picker
              v-model="form.dateOfBirth"
              type="date"
              size="large"
              format="DD-MM-YYYY"
              :allow-clear="false"
            >
              <template slot="suffixIcon">
                <client-only>
                  <unicon
                    name="calender"
                    width="16"
                    height="16"
                    fill="#E2E8F0"
                  />
                </client-only>
              </template>
            </a-date-picker>
          </a-form-model-item>
        </div>
        <div class="flex space-x-8">
          <a-form-model-item label="Gender" class="flex-1">
            <a-select v-model="form.gender" size="large">
              <template slot="suffixIcon">
                <client-only>
                  <unicon
                    name="angle-down"
                    fill="#E2E8F0"
                  />
                </client-only>
              </template>
              <a-select-option value="male">
                Male
              </a-select-option>
              <a-select-option value="female">
                Female
              </a-select-option>
            </a-select>
          </a-form-model-item>
          <a-form-model-item label="Religion" class="flex-1">
            <a-select v-model="form.religion" size="large">
              <template slot="suffixIcon">
                <client-only>
                  <unicon
                    name="angle-down"
                    fill="#E2E8F0"
                  />
                </client-only>
              </template>
              <a-select-option value="islam">
                Islam
              </a-select-option>
              <a-select-option value="kristen">
                Kristen
              </a-select-option>
            </a-select>
          </a-form-model-item>
        </div>
        <a-form-model-item label="Marital Status" class="flex-1">
          <a-select v-model="form.maritalStatus" size="large">
            <template slot="suffixIcon">
              <client-only>
                <unicon
                  name="angle-down"
                  fill="#E2E8F0"
                />
              </client-only>
            </template>
            <a-select-option value="BK">
              Single
            </a-select-option>
            <a-select-option value="KO">
              Married, 0 Children
            </a-select-option>
            <a-select-option value="K1">
              Married, 1 Children
            </a-select-option>
          </a-select>
        </a-form-model-item>
      </a-form-model>
    </a-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      employee: {
        name: 'Jane Doe',
        gender: 'Female',
        placeOfBirth: 'Batam',
        dateOfBirth: '07-05-1996',
        religion: 'Islam',
        maritalStatus: 'Married, 1 Children',
      },
      form: {
        name: 'Jane Doe',
        placeOfBirth: 'Batam',
        dateOfBirth: '1996-05-07',
        gender: 'female',
        religion: 'islam',
        maritalStatus: 'K1',
      },
    };
  },
  methods: {
    showModal() {
      this.visible = true;
    },
    handleOk() {
      this.visible = false;
    },
    handleCancel() {
      this.visible = false;
    },
  },
};
</script>
