<template>
  <div class="flex flex-col space-y-8">
    <div class="flex flex-row space-x-4">
      <div class="bg-gray-100 w-3/4 h-56 rounded relative">
        <img class="object-cover w-full h-full rounded" src="/images/person.jpg" />
        <div
          class="pill pill-xs absolute top-0 right-0 m-2"
          :class="[{ 'bg-gray-500': !employee.status }, 'bg-green-500']"
        >
          {{ employee.status ? 'Active' : 'Inactive' }}
        </div>
      </div>
      <div class="flex flex-col w-1/4 space-y-4">
        <div class="badge-lg">
          <div class="text-xs">
            Age
          </div>
          <div class="text-xl font-inter-medium">
            24<span class="text-xs">y</span>
          </div>
        </div>
        <div class="badge-lg">
          <div class="text-xs">
            LoS
          </div>
          <div class="text-xl font-inter-medium">
            2<span class="text-xs">y</span>
          </div>
        </div>
        <div class="badge-lg">
          <div class="text-xs">
            Grade
          </div>
          <div class="text-xl font-inter-medium">
            {{ employee.grade }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="font-inter-medium">
        {{ employee.number }}
      </div>
      <div class="text-xl font-inter-medium">
        <client-only>
          <ellipsis>{{ employee.name }}</ellipsis>
        </client-only>
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <div class="font-inter-medium">
        Job
      </div>
      <div class="flex space-x-4">
        <div class="w-1/3">
          Position
        </div>
        <div class="w-2/3 font-inter-medium text-right">
          <client-only>
            <ellipsis>{{ employee.position || '...' }}</ellipsis>
          </client-only>
        </div>
      </div>
      <div class="flex space-x-2">
        <div class="w-1/3">
          Department
        </div>
        <div class="w-2/3 font-inter-medium text-right">
          <client-only>
            <ellipsis>{{ employee.department || '...' }}</ellipsis>
          </client-only>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="w-1/3">
          Section
        </div>
        <div class="w-2/3 font-inter-medium text-right">
          <client-only>
            <ellipsis>{{ employee.section || '...' }}</ellipsis>
          </client-only>
        </div>
      </div>
    </div>
    <div class="flex flex-col space-y-2">
      <div class="font-inter-medium">
        Contacts
      </div>
      <div class="flex space-x-4">
        <div class="w-1/3">
          Email
        </div>
        <div class="w-2/3 font-inter-medium text-right">
          <client-only>
            <ellipsis>{{ employee.email || '...' }}</ellipsis>
          </client-only>
        </div>
      </div>
      <div class="flex space-x-4">
        <div class="w-1/3">
          Phone
        </div>
        <div class="w-2/3 font-inter-medium text-right">
          {{ employee.phone || '...' }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      employee: {
        number: 'B.1234',
        name: 'Jane Doe',
        position: 'Engineer 2',
        department: 'Information Technology',
        section: 'Database',
        grade: '7.12',
        email: 'janedoe@gmail.com',
        phone: '0821-1111-2222',
        employmentStatus: 'Permanet',
        status: 1,
      },
    };
  },
};
</script>
