<template>
  <div class="flex px-12 h-16 space-x-16 items-center">
    <div class="flex">
      <div class="font-inter-medium text-2xl tracking-tighter">
        HRM
      </div>
      <div class="">
        <client-only>
          <unicon
            name="plus"
            width="16"
            height="16"
            fill="#A0AEC0"
          />
        </client-only>
      </div>
    </div>
    <div class="flex flex-1 space-x-8">
      <div>Dashboard</div>
      <div>Employee</div>
      <div>Setting</div>
    </div>
    <a-dropdown :trigger="['click']" placement="bottomRight">
      <a class="ant-dropdown-link link-black" @click="e => e.preventDefault()">
        user
        <client-only>
          <unicon name="angle-down" width="16" height="16" />
        </client-only>
      </a>
      <a-menu slot="overlay">
        <a-menu-item key="0">
          <a href="http://www.alipay.com/">1st menu item</a>
        </a-menu-item>
        <a-menu-item key="1">
          <a href="http://www.taobao.com/">2nd menu item</a>
        </a-menu-item>
        <a-menu-divider />
        <a-menu-item key="3">
          3rd menu item
        </a-menu-item>
      </a-menu>
    </a-dropdown>
  </div>
</template>
