@font-face {
  font-family: 'Inter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Inter Regular'), url('/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Inter Medium'), url('/fonts/Inter-Medium.woff') format('woff');
}

.font-inter-regular {
  font-family: 'Inter Regular';
}

.font-inter-medium {
  font-family: 'Inter Medium';
}

html, body,
.ant-form-item-required::before,
.ant-calendar-picker-container {
  @apply font-inter-regular;
}

html, body,
.ant-calendar-date:active,
.ant-select-dropdown-menu-item,
.ant-select,
.ant-calendar-date,
.ant-calendar-input,
.ant-calendar-picker-container,
.ant-form-item-label > label,
.ant-input,
.ant-modal,
.ant-modal-title,
.link-black,
.link-black:hover,
.ant-dropdown-menu-item,
.ant-dropdown-menu-item > a,
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover,
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
  @apply text-black;
}

.unicon {
  vertical-align: -.3em;
}

.badge-lg {
  @apply flex flex-col items-end pr-2 pt-3 h-16 rounded;
}

.pill {
  @apply inline-block px-2 text-white;
}

.pill-xs {
  @apply text-xs leading-snug rounded-lg;
}

.pill-normal {
  @apply leading-loose rounded;
}

.ant-input-password-icon,
.ant-tabs,
.ant-calendar-last-month-cell .ant-calendar-date,
.ant-calendar-next-month-btn-day .ant-calendar-date,
.ant-calendar-last-month-cell .ant-calendar-date:hover,
.ant-calendar-next-month-btn-day .ant-calendar-date:hover {
  @apply text-gray-500;
}

.ant-tabs-nav .ant-tabs-tab {
  @apply px-0;
}

.ant-tabs-bar {
  @apply border-0 mb-8;
}

.ant-tabs-ink-bar {
  @apply bg-black h-1 rounded;
  width: 12px !important;
}

.unicon.icon-hover {
  @apply cursor-pointer;
  fill: #A0AEC0;
}

.unicon.icon-hover:hover {
  fill: #000000;
}

.link-white,
.link-white:hover {
  @apply text-white;
}

button:focus {
  @apply outline-none;
}

.ant-btn-primary:focus,
.ant-btn-primary:active,
.ant-btn-primary,
.ant-btn-primary:hover {
  @apply bg-black border-black;
}

.ant-modal-header {
  @apply border-b-0;
}

.ant-modal-footer {
  @apply border-t-0;
}

.ant-select-lg,
.ant-input-lg,
.ant-btn-lg {
  font-size: 14px;
}

.ant-input,
.ant-select-selection,
.ant-calendar-header,
.ant-calendar-input-wrap {
  @apply border-gray-300;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-select-selection:hover,
.ant-select-focused .ant-select-selection,
.ant-select-open .ant-select-selection,
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
.ant-input:focus,
.ant-input:hover {
  @apply border-gray-500;
}

.ant-select-selection:focus,
.ant-select-selection:active,
.ant-select-selection:hover,
.ant-select-focused .ant-select-selection,
.ant-select-open .ant-select-selection,
.ant-input:focus {
  box-shadow: 0 0 0 2px rgba(160, 174, 192, 0.2);
}

.ant-calendar-date {
  @apply rounded;
}

.badge-lg,
.ant-calendar-selected-day .ant-calendar-date,
.ant-calendar-selected-day .ant-calendar-date:hover {
  @apply bg-black text-white;
}

.ant-select-arrow {
  top: 35%;
}

.ant-select-dropdown-menu-item-selected {
  @apply font-normal bg-gray-100;
}

.ant-calendar-date:hover,
.ant-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled),
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  @apply bg-blue-100;
}

.ant-calendar-date:active {
  @apply bg-blue-200;
}

.ant-dropdown-menu-item-divider {
  @apply bg-gray-300;
}

.ant-modal-footer {
  padding: 16px 24px;
}

.has-error .ant-form-explain,
.has-error .ant-form-split,
.ant-form-item-required::before {
  @apply text-red-500;
}

.has-error .ant-input:focus,
.has-error .ant-input,
.has-error .ant-input:hover {
  @apply border-red-500;
}

.has-error .ant-input:focus {
  box-shadow: 0 0 0 2px rgba(245, 101, 101, 0.2);
}

.w-68 {
    width: 17rem;
}

.w-5p {
  width: 5%;
}

.w-10p {
  width: 10%;
}

.w-20p {
  width: 20%;
}

.w-25p {
  width: 25%;
}

.w-30p {
  width: 30%;
}
