<template>
  <div class="flex flex-col min-h-screen">
    <Navbar />
    <div class="px-12 mt-20">
      <div class="flex space-x-12">
        <div class="flex-1">
          <nuxt />
        </div>
        <div class="w-68">
          <EmployeeQuickInfo />
        </div>
      </div>
    </div>
  </div>
</template>
