<template>
  <div class="flex min-h-full">
    <div class="w-2/5 flex flex-col p-12">
      <div class="flex">
        <div class="font-inter-medium text-2xl tracking-tighter">
          HRM
        </div>
        <div>
          <client-only>
            <unicon
              name="plus"
              width="16"
              height="16"
              fill="#A0AEC0"
            />
          </client-only>
        </div>
      </div>
      <div class="flex items-center h-full">
        <div class="flex-1 flex-col space-y-8 px-12">
          <div class="text-xl font-inter-medium">
            Login to your account
          </div>
          <div>
            <a-form-model
              ref="form"
              :model="form"
              :rules="rules"
              :hide-required-mark="true"
              layout="vertical"
            >
              <a-form-model-item label="Username" prop="username">
                <a-input v-model="form.username" size="large" />
              </a-form-model-item>
              <a-form-model-item label="Password" prop="password">
                <a-input-password v-model="form.password" size="large" />
              </a-form-model-item>
              <a-form-model-item>
                <a-button type="primary" size="large" @click="onSubmit">
                  Login
                </a-button>
              </a-form-model-item>
            </a-form-model>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex-1">
          &copy; 2020
        </div>
        <div>
          DB
        </div>
      </div>
    </div>
    <div class="w-3/5 bg-gray-100 relative">
      <img class="object-cover h-screen w-full" src="/images/bg.jpg" />
      <div class="absolute bottom-0 right-0 p-12">
        <div class="text-xl text-white font-inter-medium bg-black px-2 py-1">
          Advanced HR Management.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
      rules: {
        username: [
          { required: true, message: 'This field is required', trigger: 'blur' },
        ],
        password: [
          { required: true, message: 'This field is required', trigger: 'blur' },
        ],
      },
    };
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          console.log('submit!');
          return true;
        }
        console.log('error submit!!');
        return false;
      });
    },
  },
};
</script>
